@media (max-width:375px) {
    #wrapper {
        width: 100%;
    }
    header {
        width: 100%;
    }
    .hidden_pc {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .none_iphone {
        display: none;
    }
    .none_pc {
        display: none;
    }
    #wrapper {
        width: 100%;
    }
    header {
        width: 100%;
        background-image: url(../../img/offer_header.png);
        background-repeat: no-repeat;
        background-position: center top 3em;
        background-size: contain;
        padding-top: 2em;
        padding-bottom: 10em;
    }
    #header_title {
        margin-top: -3em;
        padding-top: 2em;
        background-image: url(../../img/bg_s_wave.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: right;
        padding-right: 1.7em;
        font-size: 1.5em;
    }
    #hanber_menu {
        border-radius: 10px 10px 10px 10px;
        width: 100%;
        height: 3em;
        padding-top: 1em;
        margin-right: 1em;
    }
    #facebook {
        width: 100%;
        height: 3em;
        padding-top: 1em;
        margin-right: 1em;
    }
    nav {
        display: flex;
        justify-content: space-between;
        background-image: url(../../img/header_s_wave.png);
        padding-bottom: 3.46em;
        background-repeat: no-repeat;
        background-size: cover;
    }
    nav h2 {
        width: 50%;
        height: 3em;
        padding-top: 1em;
        padding-left: 1em;
        color: #0E9F63;
        text-align: center;
    }
    .big_font {
        font-size: 1.7em;
        line-height: 1.4em;
    }
    #nav_iphone {
        display: flex;
    }
    #staff {
        background-image: url(../../img/staff.png);
        padding-top: 2em;
        background-repeat: no-repeat;
        margin-top: 1em;
        margin-left: 1.875em;
        margin-right: 1.875em;
    }
    #aruba {
        margin-top: 2em;
        border: solid #E25745 1px;
        background-color: #E25745;
        margin-left: 1.375em;
        margin-right: 1.375em;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
        border-radius: 31px;
        color: #ffffff;
    }
    #seisya {
        margin-left: 1.375em;
        margin-right: 1.375em;
        margin-top: 1em;
        border: solid #E25745 1px;
        background-color: #E25745;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
        border-radius: 31px;
        color: #ffffff;
    }
    #suraivu {
        background-image: url(../../img/suraivu.png);
        padding-top: 2em;
        background-repeat: no-repeat;
        margin-top: 2em;
        margin-left: 1.875em;
        margin-right: 1.875em;
    }
    #section_suraivu p {
        margin-top: 1.8em;
        margin-left: 1.875em;
        margin-right: 1.875em;
        line-height: 1.75em;
    }
    #job {
        background-image: url(../../img/job.png);
        padding-top: 2em;
        background-repeat: no-repeat;
        margin-left: 1.875em;
        margin-right: 1.875em;
        margin-top: 2em;
    }
    #section_job p {
        margin-top: 1.8em;
        margin-left: 1.875em;
        margin-right: 1.875em;
        line-height: 1.75em;
    }
    #youtube {
        width: 100%;
        text-align: center;
    }
    #youtube p:nth-of-type(1) {
        margin-bottom: 1em;
    }
    #staff_call {
        background-image: url(../../img/staff_call.png);
        padding-top: 2em;
        background-repeat: no-repeat;
        margin-top: 2em;
        margin-left: 1.875em;
        margin-right: 1.875em;
    }
    #staff_realy {
        margin-left: 1.875em;
        margin-right: 1.875em;
    }
    #staff_realy dt {
        background-image: url(../../img/2338002_s.png);
        padding-top: 13em;
        background-repeat: no-repeat;
        background-position: center top;
        margin-top: 1em;
        text-align: center;
    }
    #staff_realy dd {
        text-align: center;
        padding-top: 1em;
        line-height: 1.7em;
    }
    #staff_realy p:nth-of-type(1) {
        line-height: 1.75em;
        border: solid #0E9F63 1px;
        width: 100%;
        font-size: 0.9em;
        margin-top: 2em;
        text-align: center;
        border-radius: 10px;
        color: #0E9F63;
    }
    #staff_realy p:nth-of-type(2) {
        margin-top: 1em;
        font-size: 0.9em;
        text-align: center;
        border: solid #0E9F63 1px;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 10px;
        color: #0E9F63;
    }
    #messege {
        background-image: url(../../img/doer.png);
        margin-top: 2em;
        border: #FFFFFF solid 1px;
    }
    #messege_contact {
        width: 90%;
        padding-top: 1em;
        padding-bottom: 3em;
        background-color: #FFFFFF;
        margin-left: 1.375em;
        margin-right: 1.375em;
        margin-top: 1em;
        margin-bottom: 1em;
        opacity: 0.8;
    }
    #messege_contact h3 {
        font-size: 1.8em;
        border-bottom: solid 1px #0E9F63;
        padding-top: 0.8em;
        margin-left: 1em;
        margin-right: 1em;
    }
    #messege_p {
        padding-top: 1em;
        padding-left: 1.725em;
        padding-right: 1.725em;
        line-height: 1.75em;
        font-size: 0.8em;
    }
    #phone {
        border: solid #4EAC25 1px;
        margin-top: 1em;
        text-align: center;
        border-radius: 10px;
        padding: 1em;
    }
    .phone_number {
        color: #4EAC25;
        font-size: 2em;
    }
    #mail {
        border: solid #0E9F63 1px;
        text-align: center;
        margin-top: 1em;
        border-radius: 10px;
        color: #FFFFFF;
        background-color: #0E9F63;
    }
    /* main */
    /* footer */
    footer {
        font-size: 0.75em;
        text-align: center;
        margin-top: 2em;
        border-top: solid 1px #0E9F63;
        padding-top: 2em;
        padding-bottom: 2em;
        line-height: 1.75em;
    }
    /* footer */
}

@media (min-width:800px) {
    .none {
        display: none;
    }
    .hidden_iphone {
        display: none;
    }
    .hidden_pc {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    nav {
        display: flex;
        justify-content: center;
        background-color: #FFFFFF;
    }
    nav ul {
        display: flex;
        margin-top: 2em;
    }
    nav li {
        margin: 0.5em;
        padding-right: 2em;
        line-height: 3em;
    }
    nav h2 {
        margin-right: 4em;
        margin-top: 1em;
        padding-bottom: 1em;
        font-size: 2em;
    }
    .big_title {
        font-size: 1em;
        color: #009A5A;
    }
    .big_font {
        font-size: 1.5em;
        color: #009A5A;
    }
    header {
        background-image: url(../img/offer_header.png);
        background-repeat: no-repeat;
        padding-bottom: 13em;
        background-position: top 10em right 40%;
    }
    #header_title {
        margin-top: 5em;
        margin-left: 7em;
        font-size: 2em;
        width: 10em;
        height: 4em;
        background-color: #009A5A;
        color: #FFFFFF;
        font-family: 'Noto Serif JP', serif;
        padding: 1.5em 1em 1em 1em;
        border-radius: 10px 10px 10px 10px;
        text-align: center;
    }
    #font_size {
        font-size: 0.4em;
    }
    #staff {
        background-image: url(../../img/staff_pc.png);
        padding-top: 4em;
        background-repeat: no-repeat;
        width: 70%;
        margin: 0 auto;
        margin-top: 3em;
    }
    #aruba {
        margin-top: 2em;
        border: solid #E25745 1px;
        background-color: #E25745;
        margin-left: 1.375em;
        margin-right: 1.375em;
        padding-top: 1.5em;
        padding-bottom: 1em;
        text-align: center;
        border-radius: 31px;
        color: #ffffff;
        width: 20em;
    }
    #seisya {
        width: 20em;
        margin-left: 1.375em;
        margin-right: 1.375em;
        border: solid #E25745 1px;
        background-color: #E25745;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        text-align: center;
        border-radius: 31px;
        color: #ffffff;
        margin-top: 2em;
    }
    #staff_bosyu {
        display: flex;
        width: 70%;
        justify-content: center;
        margin: 0 auto;
    }
    #suraivu {
        background-image: url(../../img/suraivu_pc.png);
        padding-top: 4em;
        background-repeat: no-repeat;
        margin-top: 1em;
        margin-right: 1.875em;
        text-align: center;
    }
    #section_suraivu {
        text-align: center;
        width: 100%;
    }
    #section_suraivu p {
        width: 100%;
        margin-top: 1.8em;
        margin-left: 2.5em;
        padding: 1.875em 1.875em 1.875em 1.875em;
        padding-left: 1.875em;
        padding-right: 1.875em;
        line-height: 1.75em;
        border: solid #4EAC25 1px;
        font-size: 1.5em;
        border-radius: 10px 10px 10px 10px;
    }
    #job {
        background-image: url(../../img/job_pc.png);
        padding-top: 4em;
        background-repeat: no-repeat;
        margin-left: 1.875em;
        margin-right: 1.875em;
        margin-top: 1em;
        width: 100%;
    }
    #section_job p {
        border: solid #4EAC25 1px;
        font-size: 1.5em;
        margin-left: 1.875em;
        margin-right: 1.875em;
        padding-left: 1.875em;
        padding-right: 1.875em;
        padding-top: 1em;
        border-radius: 10px 10px 10px 10px;
        width: 100%;
    }
    #suraivu_about {
        display: flex;
        width: 80%;
        margin: 0 auto;
        margin-top: 4em;
    }
    #section_suraivu {
        width: 100%;
    }
    #section_suraivu p {
        width: 20em;
        text-align: center;
    }
    #section_job {
        width: 57em
    }
    #section_job p {
        width: ;
        margin-top: 1.8em;
        margin-left: 1.875em;
        margin-right: 1.875em;
        line-height: 1.75em;
    }
    #youtube {
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        margin-top: 2em;
    }
    #youtube p {
        padding-left: 3em;
        padding-right: 3em;
    }
    #buled_messege h3 {
        background-image: url(../../img/buled_messege.png);
        background-repeat: no-repeat;
        background-position: top center;
        margin: 0 auto;
        margin-top: 3em;
        padding-top: 4em;
    }
    #staff_realy h3 {
        background-image: url(../../img/staff_realy.png);
        background-repeat: no-repeat;
        background-position: top center;
        margin: 0 auto;
        margin-top: 3em;
        padding-top: 4em;
    }
    #staff_realy dl {
        width: 70%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 1em;
    }
    #staff_realy dd {
        padding: 2em;
        padding-top: 4em;
        line-height: 1.7em;
        margin-left: 3em;
    }
    #staff_realy dt {
        width: 140em;
        margin-left: 2em;
        text-align: center;
        background-image: url(../../img/アセット-9.png);
        background-position: top center;
        padding-top: 13em;
        padding-bottom: 1em;
        background-repeat: no-repeat;
    }
    #staff_realy p {
        text-align: center;
        color: #009A5A;
        border: solid #009A5A 1px;
        width: 35%;
        margin: 0 auto;
        padding: 1em;
        border-radius: 30px;
        margin-bottom: 8em;
    }
    #messege {
        background-image: url(../../img/1442299_m.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 2em;
        border: solid black 1px;
    }
    #messege_contact {
        width: 90%;
        padding-top: 3em;
        padding-bottom: 3em;
        background-color: #FFFFFF;
        margin-left: 1.375em;
        opacity: 0.8;
        margin: 0 auto;
        margin-top: 3em;
    }
    #messege_contact h3 {
        font-size: 1.8em;
        border-bottom: solid 1px #0E9F63;
        padding-top: 0.8em;
        text-align: center;
        width: 80%;
        margin: auto;
    }
    #center {
        text-align: center;
        margin-top: 3em;
    }
    #messege_p {
        padding-top: 1em;
        padding-left: 1.725em;
    }
    #phone {
        border: solid #4EAC25 1px;
        margin-top: 5em;
        text-align: center;
        border-radius: 10px;
        padding: 1em;
        width: 100%;
    }
    .phone_number {
        color: #4EAC25;
        font-size: 2em;
    }
    #mail {
        border: solid #0E9F63 1px;
        text-align: center;
        width: 100%;
        margin-top: 5em;
        border-radius: 10px;
        color: #FFFFFF;
        background-color: #0E9F63;
        padding-top: 2em;
        margin-left: 2em;
        margin-right: 2em;
    }
    #messege_flex {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    /* main */
    /* footer */
    footer {
        font-size: 0.75em;
        text-align: center;
        margin-top: 2em;
        border-top: solid 1px #0E9F63;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    footer
}


/*
/* .none {
    display: none;
}

.hidden_iphone {
    display: none;
}

.hidden_pc {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}


nav {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

nav ul:nt {
    display: flex;
}

nav li {
    margin: 0.5em;
    line-height: 3em;
}

nav h2 {
    margin-left: 5.6em;
    margin-top: 1em;
    padding-bottom: 1em;
}

.big_title {
    font-size: 1em;
    color: #009A5A;
}

.big_font {
    font-size: 1.5em;
    color: #009A5A;
}

header {
    background-image: url(../img/offer_header.png);
    background-repeat: no-repeat;
    padding-bottom: 8em;
    background-position: top 100% right 20%;
}

#header_title {
    margin-top: 3em;
    margin-left: 7em;
    font-size: 2em;
    width: 7em;
    background-color: #009A5A;
    color: #FFFFFF;
    font-family: 'Noto Serif JP', serif;
    padding: 1em 1em 1em 1em;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

#font_size {
    font-size: 0.4em;
}

#staff {
    background-image: url(../../img/staff_pc.png);
    padding-top: 2em;
    background-repeat: no-repeat;
    width: 70%;
    margin: 0 auto;
    margin-top: 3em;
}

#aruba {
    margin-top: 2em;
    border: solid #E25745 1px;
    background-color: #E25745;
    margin-left: 1.375em;
    margin-right: 1.375em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    border-radius: 31px;
    color: #ffffff;
    width: 20em;
}

#seisya {
    width: 20em;
    margin-left: 1.375em;
    margin-right: 1.375em;
    border: solid #E25745 1px;
    background-color: #E25745;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    border-radius: 31px;
    color: #ffffff;
    margin-bottom: 1em;
    margin-top: 2em;
}

#staff_bosyu {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
}

#suraivu {
    background-image: url(../../img/suraivu_pc.png);
    padding-top: 2em;
    background-repeat: no-repeat;
    margin-top: 2em;
    margin-left: 1.875em;
    margin-right: 1.875em;
}

#section_suraivu p {
    margin-top: 1.8em;
    margin-left: 1.875em;
    margin-right: 1.875em;
    line-height: 1.75em;
}

#job {
    background-image: url(../../img/job_pc.png);
    padding-top: 2em;
    background-repeat: no-repeat;
    margin-left: 1.875em;
    margin-right: 1.875em;
    margin-top: 2em;
}

#suraivu_about {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 4em;
}

#section_suraivu {
    width: 100%;
}

#section_suraivu p {
    width: 20em;
    text-align: center;
}

#section_job {
    width: 57em
}

#section_job p {
    width: ;
    margin-top: 1.8em;
    margin-left: 1.875em;
    margin-right: 1.875em;
    line-height: 1.75em;
}

#youtube {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;
}

#youtube p {
    padding-left: 3em;
    padding-right: 3em;
}

#buled_messege h3 {
    background-image: url(../../img/buled_messege.png);
    background-repeat: no-repeat;
    width: 70%;
    margin: 0 auto;
    margin-top: 3em;
    padding-top: 2em;
}

#staff_realy h3 {
    background-image: url(../../img/staff_realy.png);
    background-repeat: no-repeat;
    width: 70%;
    margin: 0 auto;
    margin-top: 3em;
    padding-top: 2em;
}

#staff_realy dl {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1em;
}

#staff_realy dd {
    padding: 2em;
    padding-top: 4em;
    line-height: 1.7em;
    margin-left: 3em;
}

#staff_realy dt {
    width: 140em;
    margin-left: 2em;
    text-align: center;
    background-image: url(../../img/アセット-9.png);
    background-position: top center;
    padding-top: 13em;
    padding-bottom: 1em;
    background-repeat: no-repeat;
}

#staff_realy p {
    text-align: center;
    color: #009A5A;
    border: solid #009A5A 1px;
    width: 35%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 30px;
    margin-bottom: 8em;
}

#messege {
    background-image: url(../../img/1442299_m.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2em;
    border: solid black 1px;
}

#messege_contact {
    width: 90%;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: #FFFFFF;
    margin-left: 1.375em;
    opacity: 0.8;
    margin: 0 auto;
    margin-top: 3em;
}

#messege_contact h3 {
    font-size: 1.8em;
    border-bottom: solid 1px #0E9F63;
    padding-top: 0.8em;
    text-align: center;
    width: 80%;
    margin: auto;
}

#center {
    text-align: center;
    margin-top: 3em;
}

#messege_p {
    padding-top: 1em;
    padding-left: 1.725em;
}

#phone {
    border: solid #4EAC25 1px;
    margin-top: 5em;
    text-align: center;
    border-radius: 10px;
    padding: 1em;
    width: 100%;
}

.phone_number {
    color: #4EAC25;
    font-size: 2em;
}

#mail {
    border: solid #0E9F63 1px;
    text-align: center;
    width: 100%;
    margin-top: 5em;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #0E9F63;
    padding-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

#messege_flex {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}


/* main */


/* footer */


/* footer {
    font-size: 0.75em;
    text-align: center;
    margin-top: 2em;
    border-top: solid 1px #0E9F63;
    padding-top: 2em;
    padding-bottom: 2em;
} */

footer */