body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

#root {
    width: 300px;
    margin: auto;
}

#root h1 {
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding: 16px 0;
}

#root ul {
    padding: 0;
    list-style: none;
}

#root li {
    line-height: 1.5;
}

#root input[type="checkbox"] {
    margin-right: 10px;
}

.done {
    text-decoration: line-through;
    color: aqua;
}

.cmd {
    font-size: 12px;
    cursor: pointer;
    color: #08c;
    margin-left: 10px;
}
