@charset"UTF-8";
*{
	margin: 0px;
	padding: 0px;
}
/*haeder開始*/
nav{
	width: 100vw;
	height: 80px;
	background-color: #FFFFFF;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
}
nav ul{
	list-style-type: none;
	display: flex;
	padding-left: 5em;
	position: absolute;
	top: 42%;
	left: 30%;
}
nav h1{
	position: absolute;
	top: 32%;
	margin-left: 20%;
}
nav li{
	padding-left: 2em;

}
#top{
	background-image: url(../images/topimage.jpg);
	background-size: cover;
	width: 100vw;
	height: 100vh;
}
.top_log{
	display: flex;
	width: 500px;
	position: absolute;
	transition: 1s;
	top: 200px;
	left: 400px;
}
/*header終了*/

/*content部分*/
#content{
	background-color: silver;
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;
	padding-bottom: 2em;
}
#content h3{
	text-align: center;
	padding-top: 3em;
}
.coment{
	text-align: center;
	padding-top: 3em;
	padding-bottom: 2em;

}
/*sclick*/
.your-class{
	width: 1000px;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-bottom: 3em;
	margin:auto;
	text-align: center;	
}
.top-image {
	width: auto;
	height: 400px;
}
.top-image h2 {
  font-size: 50px;
  padding-top: 250px;
  text-align: center;
  color: #FFF;
}
.top-image p {
  padding-bottom: 200px;
  color: #FFF;
  text-align: center;
}
/*sclick終了*/
.button{
	width: 150px;
	height: 30px;
	padding-top: 0.2em;
	margin:auto;
	/*margin-bottom: 2em;*/
	border: solid black 1px;
	text-align: center;
	
}
.button:hover{
	background-color: black;
	color: #FFFFFF;
	cursor: pointer;
}
/*content終了*/

/*branding開始*/
#branding{
	background-color: #FFFFFF;
	width: 100vw;
	height: 100vh;
	text-align: center;
}
#branding h3{
	padding-top: 5em;
}
#branding h2{
	padding-top: 2em;
}
#branding p{
	padding-top: 0.1em;
}
#room_photo{
	display: flex;
	width: 1450px;
	justify-content: center;

}
#room_photo ul{
	padding-left: 3em;
	list-style-type: none;
	padding-top: 5em;

}
.title{
	padding-top: 2em;
	padding-bottom: 1em;
	
}
.sleide0{
	display: none;
	transition: 1s;
	position: absolute;
	top: 2000px;
	left: 300px;
	cursor: pointer;
}
.sleide1{
	display: none;
	position: absolute;
	top: 2000px;
	left: 559px;
	transition: 1s;
	cursor: pointer;
}
.sleide2{
	display: none;
	position: absolute;
	top: 2000px;
	left: 820px;
	transition: 1s;
	cursor: pointer;
}
.sub{
	padding-top: 0.1em;
	
}
#bran1{
	background-color: silver;
	width: 100vw;
	height: 100vh;
	text-align: center;	
	position: relative;
}
#bran1 h3{
	padding-top: 4em;
}
#bran1 h2{
	padding-top: 2em;
}
#bran1_1 ul{
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin-top: 5em;
}
#bran1_2 ul{
	display: flex;
	justify-content: center;
	list-style-type: none;
	line-height: 1em;
	
}
.box1{
	background-color: red;
	width: 200px;
	height: 200px;
}
#bran2{
	background-image: url(../images/bg.jpg);
	background-position: center;
	width: 100vw;
	height: 100vh;
}
.single {
	max-width: 1000px; 
	margin:auto;
	padding-top: 150px;
}
.single img{
	 width: 100%;
}
.bg-inner{
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: black;
	filter: opacity(50%);
	width: 1000px;
	height: 700px;
	z-index: 9999;
	display: none;
}
.box{
	background-color: #FFFFFF;
	width: 809.8px;
	height: 403.2px;
	margin:auto;
	position: absolute;
	top: 35.3%;
	left: 22.2%;
	z-index: 1;
}
.box:hover{
	background-color: pink;
}
.box1{
	position: absolute;
	top: 35.3%;
	left: 22.2%;
	z-index: 2;	
	border-right:solid red 1px;
	cursor: pointer;
}
.box2{
	position: absolute;
	top: 35.3%;
	left: 50.4%;
	z-index: 3;	
}
.box3{
	position: absolute;
	top: 60.0%;
	left: 36.4%;
	z-index: 3;	
}
.box4{
	position: absolute;
	top: 60.0%;
	left: 64.5%;
	z-index: 3;	
}
/*branding終了*/
#footer{
	width: 100vw;
	margin:auto;
	text-align: center;
	position: absolute;
	top: 4250px;
	left:0;
	background-color: #4b4b4b;
	color: #FFFFFF;
}
#footer ul{
	width: 1000px;
	display: flex;
	margin:auto;
	justify-content: center;
	list-style-type: none;
	padding-top: 2em;
	padding-bottom: 2em;
	border-bottom:solid 1px #FFFFFF; 
}
#footer li{
	padding-left: 2em;
}
#footer p{
	padding-top: 2em;
	padding-bottom: 3em;
}
.nav{
	display: inline-block;
  text-decoration: none;
  background: #000;
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px rgba(48, 45, 45,0.1);
  font-size: 26px;
  position: -webkit-sticky; /* safari対応 */
  position: sticky;
  top: 85%;
  left: 90%;
  transition: 1s;

}
.nav:active{
	-webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;

}
.bg_photo
{	width: 1900px;
	height: 500px;
	background-color: black;]
	position: absolute;
	top: 1000px;
	left: 0;
	
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #FFFFFF;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
#class{
	background-color: #FFFFFF;
	
	background-position: center;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 2670px;
	left: 0px;
	z-index: 999;
	display: none;
	transition: 1s;
}
.phone{
	
	padding-left: 23em;
	padding-top: 4em;
	
	transition: 1s;
}
.phone2{
	position: absolute;
	top: 100px;
	right: 100px;
	z-index: 9998;
	cursor: pointer;

}
.phone4{
	position: absolute;
	top: 50px;
	right: 400px;
	z-index: 9999;
	cursor: pointer;

}
.phone5{
	position: absolute;
	top: 100px;
	right: 100px;
	z-index: 9998;
	cursor: pointer;

}
.phone6{
	position: absolute;
	top: 50px;
	right: 400px;
	z-index: 9998;
	cursor: pointer;

}
.phone7{
	position: absolute;
	top: 50px;
	right: 400px;
	z-index: 9998;
	cursor: pointer;

}
.phone21{
	position: absolute;
	top: 100px;
	right: 100px;
	z-index: 9998;
	cursor: pointer;

}
.phone22{
	position: absolute;
	top: 100px;
	right: 100px;
	z-index: 9998;
	cursor: pointer;

}
#class2{
	background-color:#FFFFFF;
	
	background-position: center;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 2670px;
	left: 0px;
	z-index: 999;
	display: none;

	transition: 1s;
}
#class3{
	background-color:#FFFFFF;
	
	background-position: center;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 2670px;
	left: 0px;
	z-index: 999;
	display: none;

	transition: 1s;
}#class4{
	background-color:#FFFFFF;
	
	background-position: center;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 2670px;
	left: 0px;
	z-index: 999;
	display: none;

	transition: 1s;
}
