#wrapper {
    display: grid;
    grid-template-rows: 20vh 5vh 65vh 10vh;
    grid-template-columns: 100%;
}

header {
    grid-row: 1/1;
    grid-column: 1/2;
}

nav {
    grid-row: 2/3;
    grid-column: 1/2;
}

main {
    grid-row: 3/4;
    grid-column: 1/2;
}

aside {
    display: none;
}

footer {
    grid-row: 4/5;
    grid-column: 1/2;
}

@media (min-width:560px) {
    body {
        margin: 1;
    }
    #wrapper {
        display: grid;
        grid-template-rows: 20vh 5vh 65vh 10vh;
        grid-template-columns: 1fr 280px;
    }
    header {
        grid-row: 1/2;
        grid-column: 1/3;
    }
    nav {
        grid-row: 2/3;
        grid-column: 1/3;
    }
    main {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    aside {
        display: block;
        grid-row: 3/4;
        grid-column: 2/3;
    }
    footer {
        grid-row: 4/5;
        grid-column: 1/3;
    }
    body {
        margin: 0;
    }
}