@media (max-width:375px) {
    .hidden_pc {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .none_pc {
        display: none;
    }
    #wrapper {
        width: 100%;
    }
    .none_iphone {
        display: none;
    }
    /* header */
    /* nav */
    header {
        width: 100%;
        background-image: url(../../img/348187_s.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 17em;
    }
    #header_title {
        margin-top: 7em;
        color: #ffffff;
    }
    #hanber_menu {
        border-radius: 10px 10px 10px 10px;
        width: 100%;
        height: 3em;
        padding-top: 1em;
        margin-right: 1em;
    }
    #facebook {
        width: 100%;
        height: 3em;
        padding-top: 1em;
        margin-right: 1em;
    }
    nav {
        display: flex;
        justify-content: space-between;
        background-image: url(../../img/header_s_wave.png);
        background-repeat: no-repeat;
        width: 100%;
        background-position: left top;
        padding-bottom: 3em;
        background-repeat: no-repeat;
        background-size: cover;
    }
    nav h2 {
        width: 50%;
        height: 3em;
        padding-top: 1em;
        padding-left: 1em;
        color: #0E9F63;
        text-align: center;
    }
    .big_font {
        font-size: 1.8em
    }
    #nav_iphone {
        display: flex;
    }
    #more {
        text-align: end;
    }
    /* nav */
    /* header */
    /* main */
    .main_font {
        font-size: 2.5em;
    }
    #consept_css {
        margin-top: -3.3em;
        background-image: url(../../img/bg_s_wave.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #consept_css h3 {
        margin-left: 1.375em;
        margin-right: 1.375em;
    }
    .main p {
        padding-top: 1em;
        margin-left: 1.375em;
        margin-right: 1.375em;
        line-height: 1.875em;
        font-family: 'Noto Serif JP', serif;
    }
    .main h3 {
        padding-top: 0.5em;
        padding-left: 1.375em;
        padding-right: 1.375em;
        padding-bottom: 0.4em;
        margin-bottom: 1em;
        border-bottom: solid 1px #009A5A;
        font-family: 'Noto Serif JP', serif;
    }
    .main h4 {
        text-align: center;
        margin-bottom: 1em;
        margin-top: 1em;
    }
    #money {
        width: 80%;
        text-align: center;
        margin-top: 2em;
    }
    #time_maney {
        font-size: 2.5em;
    }
    #maney_border {
        border: solid 1px green;
        text-align: center;
        background-image: url(../../img/mensetu.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #bor {
        border: solid #FFFFFF 1px;
        background-color: #FFFFFF;
        opacity: 0.9;
        width: 80%;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    #maney_border p:nth-of-type(2) {
        margin-bottom: 1em;
        border: solid #E25745 1px;
        padding: 1em;
        border-radius: 30px;
        background-color: #E25745;
        color: #FFFFFF;
        margin-top: 1em;
    }
    #service p {}
    #service h4 {
        color: #009A5A;
    }
    #service p:nth-of-type(1) {
        margin-top: 1em;
        padding-bottom: 0.8em;
    }
    #service p:nth-of-type(2) {
        border: solid #009A5A 1px;
        padding: 1em;
        border-radius: 10px;
    }
    #service p:nth-of-type(3) {
        border: solid #009A5A 1px;
        padding: 1em;
        border-radius: 10px;
    }
    #service p:nth-of-type(4) {
        margin-top: 1em;
        padding-bottom: 0.8em;
        border: solid #009A5A 1px;
        text-align: center;
        border-radius: 30px;
        color: #009A5A;
    }
    #notice_border {
        margin-left: 1.375em;
        margin-right: 1.375em;
        margin-top: 1em;
        border: solid black 1px;
        padding: 1px;
        border-radius: 10px;
        padding-bottom: 1em;
    }
    #notice_backgroud {
        background-image: url(../../img/notice.png);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 11em;
        padding-bottom: 0.2em;
        margin-top: 2em;
    }
    #notice h3 {
        background-color: #FFFFFF;
        opacity: 0.6;
        padding-bottom: 0.3em;
    }
    #company {}
    .company_to {
        text-align: center;
    }
    #company p:nth-of-type(1) {
        border: solid #0E9F63 1px;
        padding: 1em;
        border-radius: 10px;
    }
    #company_to {
        border: solid #0E9F63 1px;
        border-radius: 30px;
        margin-top: 1em;
        padding: 1em;
        text-align: center;
        color: #0E9F63;
    }
    #messege {
        background-image: url(../../img/doer.png);
        margin-top: 2em;
        border: #FFFFFF solid 1px;
    }
    #messege_contact {
        width: 90%;
        padding-top: 1em;
        padding-bottom: 3em;
        background-color: #FFFFFF;
        margin-left: 1.375em;
        margin-right: 1.375em;
        margin-top: 1em;
        margin-bottom: 1em;
        opacity: 0.8;
    }
    #messege_contact h3 {
        font-size: 1.8em;
        border-bottom: solid 1px #0E9F63;
        padding-top: 0.8em;
        margin-left: 1em;
        margin-right: 1em;
    }
    #messege_p {
        padding-top: 1em;
        padding-left: 1.725em;
        padding-right: 1.725em;
        line-height: 1.75em;
        font-size: 0.8em;
    }
    #phone {
        border: solid #4EAC25 1px;
        margin-top: 1em;
        text-align: center;
        border-radius: 10px;
        padding: 1em;
    }
    .phone_number {
        color: #4EAC25;
        font-size: 2em;
    }
    #mail {
        border: solid #0E9F63 1px;
        text-align: center;
        margin-top: 1em;
        border-radius: 10px;
        color: #FFFFFF;
        background-color: #0E9F63;
    }
    /* main */
    /* footer */
    footer {
        font-size: 0.75em;
        text-align: center;
        margin-top: 2em;
        border-top: solid 1px #0E9F63;
        padding-top: 2em;
        padding-bottom: 2em;
        line-height: 1.75em;
    }
}

@media(min-width:965px) {
    #wrapper {
        font-size: 1.5em;
        width: 100%;
    }
    .hidden_iphone {
        display: none;
    }
    nav {
        display: flex;
        justify-content: center;
        background-color: #FFFFFF;
    }
    nav ul {
        display: flex;
    }
    nav li {
        margin: 0.5em;
        line-height: 3em;
    }
    nav h2 {
        margin-right: 3em;
        margin-top: 1em;
        padding-bottom: 1em;
    }
    .big_title {
        font-size: 1em;
    }
    .big_font {
        font-size: 1.5em;
        color: #009A5A;
    }
    header {
        background-image: url(../../img/2886673_m.jpg);
        background-repeat: no-repeat;
        background-position: top -5em left -10em;
        padding-bottom: 15em;
        height: 1050px;
    }
    #header_title {
        margin-top: 8em;
        margin-left: 5em;
        font-size: 2em;
    }
    #consept_css {
        background-image: url(../../img/パス15.png);
        margin-top: -8em;
        padding-top: 3em;
    }
    #consept_css h3 {
        margin-left: 10em;
        margin-right: 10em;
    }
    #consept_css p {
        margin-left: 10em;
        margin-right: 10em;
        line-height: 2em;
    }
    .main_font {
        font-size: 2.5em;
    }
    .main p {
        padding-top: 1em;
        margin-left: 1.375em;
        margin-right: 1.375em;
        font-family: 'Noto Serif JP', serif;
    }
    .main h3 {
        padding-top: 1em;
        padding-left: 1.375em;
        padding-right: 1.375em;
        padding-bottom: 0.4em;
        margin-bottom: 1em;
        border-bottom: solid 1px #009A5A;
        font-family: 'Noto Serif JP', serif;
    }
    #maney_ple {
        background-image: url(../../img/715384_m.jpg);
        margin-left: 11.375em;
        margin-right: 11.375em;
        border: solid black 1px;
        margin-top: 6.5em;
    }
    #maney_border {
        text-align: center;
        background-repeat: no-repeat;
    }
    #maney_in {
        margin-left: 5em;
        margin-right: 5em;
        background-color: #FFFFFF;
        margin-top: 2em;
        margin-bottom: 2em;
        border-radius: 10px;
    }
    #maney_in h3 {
        margin-left: 1em;
    }
    #bor {
        border: solid #FFFFFF 1px;
        background-color: #FFFFFF;
        opacity: 0.9;
        width: 80%;
        margin: 0 auto;
        margin-top: 1em;
        margin-bottom: 2em;
    }
    #time_maney {
        font-size: 2.5em;
    }
    #maney_border p:nth-of-type(2) {
        margin-bottom: 1em;
        border: solid #E25745 1px;
        padding: 1em;
        border-radius: 30px;
        background-color: #E25745;
        color: #FFFFFF;
        margin-top: 1em;
    }
    #service {
        position: relative;
        margin-top: 3em;
    }
    #service h4 {
        color: #009A5A;
        text-align: center;
        margin-top: 1em;
    }
    #service p:nth-of-type(2) {
        border: solid 1px #009A5A;
        padding: 1em;
        border-radius: 10px;
        margin-top: 1em;
    }
    #service p:nth-of-type(3) {
        border: solid 1px #009A5A;
        padding: 1em;
        border-radius: 10px;
        margin-top: 1em;
    }
    #service p:nth-of-type(4) {
        border: solid 1px #009A5A;
        text-align: center;
        padding-bottom: 1em;
        margin-top: 1em;
        border-radius: 20px;
        color: #009A5A;
        margin-bottom: 1em;
    }
    .around_left {
        width: 40%;
        background-image: url(../../img/around.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 5em;
    }
    .around_left h3 {
        margin-left: 4em;
        margin-right: 2em;
    }
    .around_left_in {
        margin-left: 3em;
    }
    #backgoround {
        position: absolute;
        top: 5em;
        left: -4em;
    }
    #notice {
        margin-top: 40em;
        position: relative;
    }
    .around_right {
        width: 40%;
        background-image: url(../../img/aaround_right.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 3em;
        left: 7em;
        z-index: 1;
        border-radius: 10px;
    }
    .around_right h3 {
        margin-left: 2em;
        margin-right: 4em;
    }
    #more {
        text-align: end;
        padding-bottom: 1em;
        padding-right: 1em;
    }
    #background_right {
        position: absolute;
        top: 7em;
        right: 12em;
    }
    #company {
        margin-top: 60em;
        position: relative;
    }
    #company_backgoround {
        position: absolute;
        top: 11em;
        left: 13em;
    }
    .company_around {
        width: 50%;
        background-image: url(../../img/around.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 5em;
        right: 5em;
    }
    .company_around h3 {
        margin-left: 4em;
        margin-right: 2em;
    }
    .company_around p:nth-of-type(1) {
        margin-left: 4em;
        margin-right: 1em;
    }
    #company_to {
        text-align: center;
        border: solid #009A5A 1px;
        padding-bottom: 1em;
        width: 50%;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: 40px;
        color: #009A5A;
    }
    #messege {
        margin-top: 90em;
        position: relative;
    }
    #messege {
        background-image: url(../../img/1442299_m.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 2em;
        border: solid black 1px;
    }
    #messege_contact {
        width: 90%;
        padding-top: 3em;
        padding-bottom: 3em;
        background-color: #FFFFFF;
        margin-left: 1.375em;
        opacity: 0.8;
        margin: 0 auto;
        margin-top: 3em;
    }
    #messege_contact h3 {
        font-size: 1.8em;
        border-bottom: solid 1px #0E9F63;
        padding-top: 0.8em;
        text-align: center;
        width: 80%;
        margin: auto;
    }
    #center {
        text-align: center;
        margin-top: 3em;
    }
    #messege_p {
        padding-top: 1em;
        padding-left: 1.725em;
    }
    #phone {
        border: solid #4EAC25 1px;
        margin-top: 5em;
        text-align: center;
        border-radius: 10px;
        padding: 1em;
        width: 100%;
    }
    .phone_number {
        color: #4EAC25;
        font-size: 2em;
    }
    #mail {
        border: solid #0E9F63 1px;
        text-align: center;
        width: 100%;
        margin-top: 5em;
        border-radius: 10px;
        color: #FFFFFF;
        background-color: #0E9F63;
        padding-top: 2em;
        margin-left: 2em;
        margin-right: 2em;
    }
    #messege_flex {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    /* main */
    /* footer */
    footer {
        font-size: 0.75em;
        text-align: center;
        margin-top: 2em;
        border-top: solid 1px #0E9F63;
        padding-top: 2em;
        padding-bottom: 2em;
    }
}


/* footer */


/* footer */