@media (max-width:375px) {
    #wrapper {
        width: 100%;
    }
    header {
        width: 100%;
    }
    .hidden_pc {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .none_pc {
        display: none;
    }
    #wrapper {
        width: 100%;
    }
    .iphone_none {
        opacity: 0;
    }
    /* header */
    /* nav */
    header {
        width: 100%;
        background-image: url(../../img/a-1.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        padding-bottom: 17em;
    }
    #header_title {
        margin-top: -3em;
        padding-top: 2em;
        background-image: url(../../img/bg_s_wave.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: right;
        padding-right: 1.7em;
        font-size: 1.5em;
    }
    #hanber_menu {
        border-radius: 10px 10px 10px 10px;
        width: 100%;
        height: 3em;
        padding-top: 1em;
        margin-right: 1em;
    }
    #facebook {
        width: 100%;
        height: 3em;
        padding-top: 1em;
        margin-right: 1em;
    }
    nav {
        display: flex;
        justify-content: space-between;
        background-image: url(../../img/header_s_wave.png);
        padding-bottom: 3.46em;
        background-repeat: no-repeat;
        background-size: cover;
    }
    nav h2 {
        height: 3em;
        padding-top: 1em;
        padding-left: 1em;
        color: #0E9F63;
        text-align: center;
    }
    .big_font {
        font-size: 1.7em
    }
    #nav_iphone {
        display: flex;
    }
    #hgit_service h3 {
        background-image: url(../../img/hgit_service.png);
        padding-top: 2em;
        margin-top: 1em;
        background-repeat: no-repeat;
        margin-left: 1.375em;
        margin-right: 1.375em;
    }
    #section_visit_service h4 {
        background-image: url(../../img/visit.png);
        background-repeat: no-repeat;
        background-position: center top;
        padding-top: 18em;
        text-align: center;
        margin-top: 3em;
    }
    #section_visit_service_font {
        font-size: 1.25em;
        color: #94D603;
        padding-bottom: 0.8em;
    }
    #section_visit_service p {
        margin-top: 1em;
        margin-left: 1.375em;
        margin-right: 1.375em;
        border: solid #707070 1px;
        padding: 1em;
        border-radius: 10px;
        line-height: 1.875em;
    }
    #section_visit_support h4 {
        background-image: url(../../img/suport.png);
        background-repeat: no-repeat;
        background-position: center top;
        padding-top: 12em;
        text-align: center;
        font-size: 1.25em;
        color: #94D603;
    }
    #section_visit_support p {
        margin-left: 1.375em;
        margin-right: 1.375em;
        margin-top: 1em;
        border: solid #707070 1px;
        padding: 1em;
        border-radius: 10px;
        line-height: 1.875em;
    }
    #article_Disability h3 {
        background-image: url(../../img/Disability.png);
        background-repeat: no-repeat;
        background-position: center top;
        padding-top: 2em;
        margin-top: 1em;
    }
    #section_home h4 {
        background-image: url(../../img/home.png);
        background-repeat: no-repeat;
        background-position: center top;
        padding-top: 6em;
        text-align: center;
        font-size: 1.25em;
        color: #94D603;
        margin-top: 3em;
    }
    #section_home p {
        margin-top: 1em;
        margin-left: 1.375em;
        margin-right: 1.375em;
        border: solid #707070 1px;
        padding: 1em;
        border-radius: 10px;
        line-height: 1.875em;
    }
    #section_with h4 {
        background-image: url(../../img/with.png);
        background-repeat: no-repeat;
        background-position: center top;
        padding-top: 6em;
        text-align: center;
        font-size: 1.25em;
        color: #94D603;
        margin-top: 3em;
    }
    #section_with p {
        margin-top: 1em;
        margin-left: 1.375em;
        margin-right: 1.375em;
        border: solid #707070 1px;
        padding: 1em;
        border-radius: 10px;
        line-height: 1.875em;
    }
    #section_move h4 {
        background-image: url(../../img/move.png);
        background-repeat: no-repeat;
        background-position: center top;
        padding-top: 6em;
        text-align: center;
        font-size: 1.25em;
        color: #94D603;
        margin-top: 3em;
    }
    #section_move p {
        margin-top: 1em;
        margin-left: 1.375em;
        margin-right: 1.375em;
        border: solid #707070 1px;
        padding: 1em;
        border-radius: 10px;
        line-height: 1.875em;
    }
    #apiru {
        margin-left: 1.375em;
        margin-right: 1.375em;
        margin-top: 2em;
        color: #94D603;
    }
    #call_me {
        text-align: center;
        margin-top: 1em;
        font-size: 1.56em;
    }
    #messege {
        background-image: url(../../img/doer.png);
        margin-top: 2em;
        border: #FFFFFF solid 1px;
    }
    #messege_contact {
        width: 90%;
        padding-top: 1em;
        padding-bottom: 3em;
        background-color: #FFFFFF;
        margin-left: 1.375em;
        margin-right: 1.375em;
        margin-top: 1em;
        margin-bottom: 1em;
        opacity: 0.8;
    }
    #messege_contact h3 {
        font-size: 1.8em;
        border-bottom: solid 1px #0E9F63;
        padding-top: 0.8em;
        margin-left: 1em;
        margin-right: 1em;
    }
    #messege_p {
        padding-top: 1em;
        padding-left: 1.725em;
        padding-right: 1.725em;
        line-height: 1.75em;
        font-size: 0.8em;
    }
    #phone {
        border: solid #4EAC25 1px;
        margin-top: 1em;
        text-align: center;
        border-radius: 10px;
        padding: 1em;
    }
    .phone_number {
        color: #4EAC25;
        font-size: 2em;
    }
    #mail {
        border: solid #0E9F63 1px;
        text-align: center;
        margin-top: 1em;
        border-radius: 10px;
        color: #FFFFFF;
        background-color: #0E9F63;
    }
    /* main */
    /* footer */
    footer {
        font-size: 0.75em;
        text-align: center;
        margin-top: 2em;
        border-top: solid 1px #0E9F63;
        padding-top: 2em;
        padding-bottom: 2em;
        line-height: 1.75em;
    }
}


/* footer */

@media (min-width:800px) {
    #wrapper {
        width: 100%;
    }
    header {
        width: 100%;
        background-image: url(../img/アセット-18.png);
        background-repeat: no-repeat;
        background-position: top right 15%;
        padding-bottom: 8em;
    }
    .hidden_pc {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .none_iphone {
        display: none;
    }
    nav h2 {
        font-size: 2em;
        line-height: 1.5em;
        color: #4EAC25;
        margin-right: 1em;
        padding-top: 0.2em;
    }
    nav {
        display: flex;
        justify-content: center;
        background-color: #FFFFFF;
    }
    nav ul:nth-of-type(2) {
        display: flex;
    }
    nav ul:nth-of-type(2) {
        padding: 1em;
    }
    #pc_nav li {
        margin-left: 2.5em;
        line-height: 3em;
        font-size: 1.2em;
    }
    header {}
    .header_title {}
    #service_information {
        background-color: #56AF2E;
        color: #FFFFFF;
        width: 20%;
        height: 8em;
        text-align: center;
        padding-top: 3.4em;
        margin-left: 19em;
        margin-top: 10em;
        border-radius: 10px 10px 10px 10px;
    }
    #hgit_service h3 {
        background-image: url(../../img/syougai_pc.png);
        background-repeat: no-repeat;
        padding-top: 3.5em;
        background-position: top center;
        margin-top: 5em;
    }
    #font_size {
        font-size: 0.1em;
    }
    #hgit_service_flex {
        display: flex;
        width: 70%;
        margin: 0 auto;
    }
    #section_visit_service h4 {
        background-image: url(../../img/visit.png);
        background-repeat: no-repeat;
        background-position: center top;
        padding-top: 15em;
        text-align: center;
        margin-top: 4em;
    }
    #section_visit_service_font {
        font-size: 1.25em;
        color: #94D603;
        padding-bottom: 0.8em;
    }
    #section_visit_service p {
        margin-top: 1em;
        margin-left: 1.375em;
        margin-right: 1.375em;
        border: solid #707070 1px;
        padding: 1em;
        border-radius: 10px;
        line-height: 1.875em;
    }
    #section_visit_support h4 {
        background-image: url(../../img/suport.png);
        background-repeat: no-repeat;
        background-position: center top;
        padding-top: 13em;
        text-align: center;
        font-size: 1.25em;
        margin-top: 3em;
        color: #94D603;
    }
    #section_visit_support p {
        margin-left: 1.375em;
        margin-right: 1.375em;
        margin-top: 1em;
        border: solid #707070 1px;
        padding: 1em;
        border-radius: 10px;
        line-height: 1.875em;
    }
    #article_Disability h3 {
        background-image: url(../../img/syougai_pc.png);
        background-repeat: no-repeat;
        margin: 0 auto;
        background-position: top center;
        margin-top: 3em;
        padding-top: 3.5em;
    }
    #Disability_flex {
        display: flex;
        width: 90%;
        margin: 0 auto;
    }
    #section_home h4 {
        background-image: url(../../img/home.png);
        background-repeat: no-repeat;
        background-position: center top;
        padding-top: 6em;
        text-align: center;
        font-size: 1.25em;
        color: #94D603;
        margin-top: 3em;
    }
    #section_home p {
        margin-top: 1em;
        margin-left: 1.375em;
        margin-right: 1.375em;
        border: solid #707070 1px;
        padding: 1em;
        border-radius: 10px;
        line-height: 1.875em;
    }
    #section_with h4 {
        background-image: url(../../img/with.png);
        background-repeat: no-repeat;
        background-position: center top;
        padding-top: 6em;
        text-align: center;
        font-size: 1.25em;
        color: #94D603;
        margin-top: 3em;
    }
    #section_with p {
        margin-top: 1em;
        margin-left: 1.375em;
        margin-right: 1.375em;
        border: solid #707070 1px;
        padding: 1em;
        border-radius: 10px;
        line-height: 1.875em;
    }
    #section_move h4 {
        background-image: url(../../img/move.png);
        background-repeat: no-repeat;
        background-position: center top;
        padding-top: 6em;
        text-align: center;
        font-size: 1.25em;
        color: #94D603;
        margin-top: 3em;
    }
    #section_move p {
        margin-top: 1em;
        margin-left: 1.375em;
        margin-right: 1.375em;
        border: solid #707070 1px;
        padding: 1em;
        border-radius: 10px;
        line-height: 1.875em;
    }
    #apiru {
        margin-left: 1.375em;
        margin-right: 1.375em;
        margin-top: 2em;
        text-align: center;
        color: #94D603;
    }
    #call_me {
        text-align: center;
        margin-top: 1em;
        font-size: 1.56em;
    }
    #messege {
        background-image: url(../../img/1442299_m.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 2em;
        margin-top: 7em;
        border: solid black 1px;
    }
    #messege_contact {
        width: 90%;
        padding-top: 3em;
        padding-bottom: 3em;
        background-color: #FFFFFF;
        margin-left: 1.375em;
        opacity: 0.8;
        margin: 0 auto;
        margin-top: 3em;
    }
    #messege_contact h3 {
        font-size: 1.8em;
        border-bottom: solid 1px #0E9F63;
        padding-top: 0.8em;
        text-align: center;
        width: 80%;
        margin: auto;
    }
    #center {
        text-align: center;
        margin-top: 3em;
    }
    #messege_p {
        padding-top: 1em;
        padding-left: 1.725em;
    }
    #phone {
        border: solid #4EAC25 1px;
        margin-top: 5em;
        text-align: center;
        border-radius: 10px;
        padding: 1em;
        width: 100%;
    }
    .phone_number {
        color: #4EAC25;
        font-size: 2em;
    }
    #mail {
        border: solid #0E9F63 1px;
        text-align: center;
        width: 100%;
        margin-top: 5em;
        border-radius: 10px;
        color: #FFFFFF;
        background-color: #0E9F63;
        padding-top: 2em;
        margin-left: 2em;
        margin-right: 2em;
    }
    #messege_flex {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    /* main */
    /* footer */
    footer {
        font-size: 0.75em;
        text-align: center;
        margin-top: 2em;
        border-top: solid 1px #0E9F63;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    /* footer */
}


}