@charset"UTF-8";
*{
	margin: 0px;
	padding: 0px;
}


.box1{
	width: 300px;
	height: 300px;
	background-color: green;
	border: solid red 1px;
	margin-left: 1em;

}
#boxes{
	display: flex;
}
.box2{
	width: 300px;
	height: 300px;
	background-color: green;
	border: solid red 1px;
	margin-left: 1em;

}
#boxes2{
	display: flex;
}
.clickOn{
	background-color: red;
}