.st0 {
    fill: none;
    stroke: #fff;
    stroke-width: 13;
    stroke-miterlimit: 10;
}

.st1 {
    fill: none;
    stroke: #fff;

    stroke-width: 13;
    stroke-miterlimit: 10;
}

.st2 {
    fill: none;
    stroke: #fff;

    stroke-width: 13;
    stroke-miterlimit: 10;
}

.st3 {
    fill: none;
    stroke: #fff;

    stroke-width: 13;
    stroke-miterlimit: 10;
}

.st4 {
    fill: none;
    stroke: #fff;

    stroke-width: 13;
    stroke-miterlimit: 10;
}

.st5 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
}
