@charset"UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    height: 3000px;
}


ul {
    display: flex;
}

.box {
    width: 300px;
    height: 900px;
    background-color: red;
    margin: auto;
    margin-top: 10em;
    margin-bottom: 10em;

}

body {
    font-size: 13px;
    background: #eae6d3;
    line-height: 1.4;
    padding: 10px;
}

#wrap {
    width: 300px;
    margin: 0 auto;
}

ul.delay-show li {
    background: #fff;
    color: #4a3b35;
    margin-bottom: 5px;
    list-style: none;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    widows: 300px;
    margin: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

li {
    width: 300px;
    height: 500px;
}

/*
.selected {
    width: 300px;
    height: 300px;
    background-color: green;
    border: solid red 1px;
    margin-left: 1em;
    opacity: 1;
    margin: auto;
    padding-top: 3em;
}*/
