nav {
    background-color: #000;
    width: 700px;
}

ul {
    box-sizing: border-box;
    width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

li a {
    color: #fff;
    height: 80px;
    display: inline-block;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

li a:hover {
    color: #263A97;
    background-color: #fff;
}

#btn1 a {
    color: #263A97;
}

#btn1 a:hover {
    color: #fff;
    background-color: #263A97;
}

#btn1 {
    background-color: #fff;
    flex: 0 1 150px;
}

#btn2 {
    background-color: #263A97;
    flex: 0 1 300px;
}

#btn3 {
    background-color: #263A97;
    flex: 0 1 200px;
}
